body{
    font-family: sans-serif;
}

.formStyleLogin {
    width: 350px;
    height: 200px;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    color: #ffffff;;
    background-color: #2d5686;
    text-align: center;
}

.formStyleRegister {
    width: 350px;
    height: 250px;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    color: #ffffff;;
    background-color: #2d5686;
    text-align: center;
}

.header{
    font-size: 30px;
}

.inputContainer {
    padding-bottom: 20px;
}

.inputContainer input {
    margin: 0 auto;
    display: block;
}

.buttonContainer{
    text-align: center;
}

.button{
    background-color: #87d3ff;
    color: #ffffff;
    padding: 10px 15px;
    font-size: 15px;
}